.container {
  min-height: 100vh;
  width: 100%;
}
.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  padding: 1rem 0rem;
  font-weight: bold;
  border-bottom: solid 2px #0f0f0fed;
  background-color: rgb(9, 9, 9);
}
