<div class="main-container2">
  <div class="navbar">
    <div
      style="
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
      "
      (click)="goToLandingPage()"
    >
      <img
        src="../assets/img.png"
        style="height: 50px; width: 50px; margin-right: 1rem;"
      />
      Black Light Studios
    </div>
  </div>
  <div class="main-container">
    <div class="card-container">
      <div
        class="card"
        [class.active]="pageActive === 'page1'"
        (click)="goToWeeklyLeaderBoard()"
      >
        <div>
          <div class="title">Global Leaderboard</div>
        </div>
      </div>
      <div
        class="card"
        [class.active]="pageActive === 'page2'"
        (click)="goToLastWeekLeaderBoardByCountry()"
      >
        <div>
          <div class="title">Country Leaderboard</div>
        </div>
      </div>
      <div
        class="card"
        [class.active]="pageActive === 'page3'"
        (click)="goToUserLeaderBoardByRank()"
      >
        <div>
          <div class="title">Rank & Score</div>
        </div>
      </div>
    </div>
    <div class="router-container">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
