.container {
  margin: 4rem;

  .title {
    font-weight: bold;
    font-size: 3rem;
  }
  .sub-title {
    font-size: 2rem;
  }

  .card {
    background-color: black;
    border-radius: 1rem;
    padding: 1rem 2rem;
  }
  .table {
    width: 100%;
    th {
      text-align: center;
      font-size: 1.25rem;
    }
    td,
    th {
      padding: 1rem;
      cursor: pointer;
      margin: 1rem;
      background-color: black;
    }
    tr {
      transition: 0.25s all;
      &:hover {
        transform: scale(1.025);
      }
      &:nth-child(n + 2):nth-child(-n + 4) {
        color: yellow;
        font-size: 1.25rem;
      }
    }
  }
}
