<div class="card-container">
  <div class="card card2" (click)="goToWeeklyLeaderBoard()">
    <div>
      <div class="title">Weekly Global</div>
      <div class="title">Leaderboard!</div>
      <div class="subtitle">10,000+ Participants</div>
      <div class="button">
        <div>Check Out</div>
      </div>
    </div>
  </div>
  <div class="card card3" (click)="goToLastWeekLeaderBoardByCountry()">
    <div>
      <div class="title">Last Week Country</div>
      <div class="title">Leaderboard!</div>
      <div class="subtitle">10,000+ Participants</div>
      <div class="button">
        <div>Check Out</div>
      </div>
    </div>
  </div>
  <div class="card card2" (click)="goToUserLeaderBoardByRank()">
    <div>
      <div class="title">Know Your</div>
      <div class="title">Rank & Score</div>
      <div class="subtitle">10,000+ Participants</div>
      <div class="button">
        <div>Check Out</div>
      </div>
    </div>
  </div>
</div>
