<div class="container">
  <h1 class="title">Get User Rank and Score</h1>
  <div class="input-container">
    <div>
      <div>
        <div>Search a user using uid</div>
        <div style="font-size: 1rem">(you can get uid from leaderboard)</div>
      </div>
      <input
        class="input-field"
        type="text"
        (input)="onInputChange($event)"
        value="{{ uid }}"
        placeholder="Enter a uid"
      />
    </div>
  </div>

  <div class="card-container">
    <table class="table">
      <tr>
        <th>Rank</th>
        <th>Name</th>
        <th>Score</th>
        <th>Country</th>
        <th>Date Submitted</th>
        <th>UID</th>
      </tr>
      <tr
        *ngFor="let item of data; let i = index"
        class="row fade-in"
        [style.animation-delay]="calculateDelay(i)"
      >
        <td>{{ item.rank }}</td>
        <td>{{ item.name }}</td>
        <td>{{ item.score }}</td>
        <td>{{ item.country }}</td>
        <td>{{ formatTimestamp(item.timestamp) }}</td>
        <td>{{ item.uid }}</td>
      </tr>
    </table>
  </div>
</div>
